.container_ {
    padding: 10px 0px;
}

h1 {
    font-size: 24px;
    margin: 20px 0px;
    color: white !important;
    font-family: Poppins-SemiBold;
}

h2 {
    font-size: 22px;
    margin: 20px 0px;
    color: white !important;
    font-family: Poppins-SemiBold;
}

p {
    font-size: 18px;
    color: white;
    letter-spacing: 0px;
    font-family: Poppins-Regular;
}

.wgbtn,
.wganimate-btn {
    background-color: #000000;
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
    padding: 6px 10px;
    border: 2px solid peru;
    border-radius: 8px;
    outline: none;
    display: inline-block;
    font-family: Poppins-Regular;
    text-align: center;
    width: 120px;
    height: 35px;
    text-decoration: none;
    cursor: pointer;
    overflow: unset;
}

.wganimate-btn {
    background-color: #fff;
    border: 2px solid #000000;
    color: #000000;
}

.wgbtn:hover {
    background-color: #524e4e;
}

.wganimate-btn:hover {
    background-color: peru;
}

.section-analytics {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-analytics>div {
    padding: 12px 5px;
    border-right: 1px solid #ccc;
    background: peru;
}

.section-analytics>div:last-child {
    border-right: none;
    /* remove border from last item */
}

.section-analytics h2 {
    margin: 0;
    font-size: 28px;
}

.section-analytics p {
    margin-top: 5px;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li a {
    text-decoration: none;
}

.error-btn {
    background-color: #000000;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    padding: 2px 5px;
    border: 2px solid peru;
    border-radius: 8px;
    outline: none;
    display: inline-block;
    font-family: Poppins-Regular;
    text-align: center;
    width: 150px;
    height: 35px;
    cursor: pointer;
    overflow: unset;
}

.error-btn a {
    text-decoration: none;
}

.imagebox {
    border: 1px solid peru;
    box-shadow: 1px 0px 3px 1px peru;
}

.contact-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Form */
.contact-form .form-group {
    margin-bottom: 18px;
}

.contact-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
    color: white;
    font-family: Poppins-Regular;
}

/* Inputs */
.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid peru;
    outline: none;
    transition: 0.3s;
    font-size: 14px;
    background: #000000;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: peru;
    box-shadow: 0 0 0 4px rgba(205, 133, 63, 0.15);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #fff;   /* change to any color */
    opacity: 0.9;    /* ensures full visibility */
}
.boxdiv{
    display: flex;
    gap: 30px;
}
.insightReport-box{
    position:relative;
    background:#fff;
    padding:20px;
    border-left:6px solid peru; /* thick left border */
    box-shadow:0 2px 15px rgba(255, 222, 76, 0.1);
    display:flex;
    flex-direction:column;
    gap:15px;
    border-radius:16px;
    overflow:hidden
}
/* Hover animation */
.insightReport-box:hover {
  transform: translateY(-21px) scale(1.07);
  box-shadow: 0 18px 35px rgba(0,0,0,0.2);
}

.insightReport-box label{
    font-size:24px;
    font-weight:bold;
    color: white;
}

.insightReport-box span{
    color: white
}

.report-icon{
    font-size:24px;
    color:#0d6efd;
    margin-bottom:5px;
}
/* Row 1 */
.row:nth-child(1) .insightReport-box:nth-child(1) {
 /* background: linear-gradient(135deg, #5d76e4, #20122e); */
 background: linear-gradient(135deg, #a0a18c, #080808);
}

.row:nth-child(1) .insightReport-box:nth-child(2) {
     background: linear-gradient(135deg, #58c3e2, #141f2e);
}

.row:nth-child(1) .insightReport-box:nth-child(3) {
      /* background: linear-gradient(135deg, #ffbd9c, #d00d12); */
     background: linear-gradient(135deg, #bdb6b63d, #000000);
}

.row:nth-child(1) .insightReport-box:nth-child(4) {
  /* background: linear-gradient(135deg,#ff416c,#ff4b2b); */
    background: linear-gradient(135deg, #979d64, #342704);
}
/* smooth entrance animation */
.insightReport-box {
  animation: fadeUp 0.6s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* shine effect */
.insightReport-box::after{
   content: "";
    position: absolute;
    top: -50%;
    left: -86%;
    width: 200%;
    height: 113%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(25deg);
    transition: 0.6s;
}

/* hover animation */
.insightReport-box:hover::after{
    left:-5%;
}